
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #15274B;
  font-family: 'Poppins';
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: #15274B;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  width: 350px;
  outline: none;
  height: 55px;
  border-radius: 10px;
  background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  border: 0.5px solid;
  border-image-source: linear-gradient(306.85deg, #FEFEFF 12.98%, #C6CEDA 91.82%);
  box-shadow: 5px 5px 10px 0 #A6B4C8BF inset, -5px -5px 15px 0 #FFFFFFBF inset;
  //padding: 7px 0 7px 23px;
  //text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
}

.input-container {
  margin: 15px 0 10px 0;

  .input_wrapper {
    margin-top: 8px;
  }

  span {
    font-size: 14px;
    font-weight: 500;
  }


}

.btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7);
  font-size: 12px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  color: #FFFFFF;
  margin-right: 7px;
  text-decoration: none;
  background: #2877EE;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.btn-green{
  background:#00758B;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7);
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding: 8px 22px;
  color: #FFFFFF;
  margin: 22px 10px;
}
.btn-green a{
  color:#FFFFFF;
  text-decoration: none;
}
.btn-block{
  display: flex;
  margin-left: 10px;
}
.select-block select {
  width: 200px;
  height: 41px;
  border-radius: 7px;
  border: none;
  margin: 14px 14px;
  background: #00758B;
  color: #FFFFFF;
  font-size: 16px;
  padding-left: 10px;
}

.search-block-item input::placeholder {
  /*text-align: right;*/
  margin-right: 50px;
  position: absolute;
  top: 10px;
  left: 30px;
}

.search-block-item input:focus {
  background-image: none;
}


//.home {

  .product-container{
a {
  text-decoration: none;
}
    .product {
      text-align: center;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      width: 320px;
      justify-content: space-between;
    }
    .product-name{
      width: 105px;
    }
    .room-img,
    .project-img,
    .folder-img,{
      width: 60px;
      height: 45px;
    }
  }
  .open-category{
    display: flex;
  }
  .close-category{
    display: flex;
  }

.open-folder{
  display: flex;
  flex-direction: column;
}
.document-element{
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}
  .room-container-element,
  .folder-container-element,
  .room-folder-element{
    display: flex;
    align-items: center;
    width: 320px;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .board{
    width: 300px;
    height: 200px;
    border: 1px solid red;
  }
  .drop{
    display: none;
    font-size: 12px;
    position: absolute;
    left: 65px;
    background: grey;
    opacity: 0.7;
    padding: 5px 0;
  }
.project-folder:hover + .drop{
  display: block;
}
  .project-img{
    width: 80px;
  }
.room-folder-element1{
  display: flex;
  align-items: center;
  width: 320px;
  justify-content: space-between;
  margin-bottom: 10px;
}
  .room-folder-container,
  .room-folder-element1,
  .open-folder,
  .document-element-container{
    margin-left: 55px;
  }

.fileInput {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;

  .label {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #15274B;
    margin-bottom: 10px;
  }

  .file {
    height: 99px;
    width: 111px;
    border-radius: 10px;
    background: linear-gradient(134.17deg, #EEF0F5 46.99%, #E6E9EF 94.88%);
    box-shadow: 10px 10px 20px 0px #A6B4C8B2, -12px -12px 20px 0px #FFFFFFCC;
    border: 0.5px solid;
    border-image-source: linear-gradient(132.16deg, #FEFEFF 26.7%, #C6CEDA 96.52%);
    display: inline-block;
    cursor: pointer;
    padding: 24px 35px;

    input {
      visibility: hidden;
      width: 100%;
      height: 100%;
      display: none;
    }
  }
}
.create-room{
  display: flex;
  justify-content: center;
}
.btn-save{
  height: 55px;
  font-size: 17px;
  width: 100%;
}
.profile-image{
  width: 105px;
  position: relative;
  right: 34px;
  height: 90px;
  bottom: 21px;
}
input {
  width: 350px;
  outline: none;
  height: 55px;
  border-radius: 10px;
  background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  border: 0.5px solid;
  border-image-source: linear-gradient(306.85deg, #FEFEFF 12.98%, #C6CEDA 91.82%);
  box-shadow: 5px 5px 10px 0 #A6B4C8BF inset, -5px -5px 15px 0 #FFFFFFBF inset;
  //padding: 7px 0 7px 23px;
  //text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
}
.input-block {
  display: flex;
  flex-direction: column;
}
.input-container {
  margin: 15px 0 10px 0;

  .input_wrapper {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
  }

  span {
    font-size: 14px;
    font-weight: 500;
  }


}

//}


#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .navbar-top {
    height: 50px;
    background: #0f3460;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      max-width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .navbar-top-right {
      display: flex;

      .phone, .support {
        display: flex;
        align-items: center;
        margin-right: 25px;

        span {
          color: #FFFFFF;
        }
      }

    }

    svg {
      width: 25px;
      margin-right: 10px;

      path {
        fill: #f9f9fa;
      }
    }

    .navbar-top-left {
      justify-content: space-between;
      display: flex;
      width: 15%;
      font-size: 14px;

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-right .MuiButton-text svg {
      width: 30px;
    }

    .MuiButton-root {
      min-width: 50px;
      background: #f6f6f6;
      margin-right: 20px;
      border-radius: 25px;
    }

    .search-block-item input {
      position: relative;
      background: #f9f9fa;
      border: 1px solid #e1e3e5;
      color: #5c5f62;
      font-weight: 500;
      font-size: 15px;
      width: 600px;
      margin-top: 10px;
      padding-left: 30px;
      border-radius: 20px;
      height: 40px;
    }

    .search-block-item input::placeholder {
      /*text-align: right;*/
      margin-right: 50px;
      position: absolute;
      top: 10px;
      left: 30px;
    }

    .search-block-item input:focus {
      background-image: none;
    }

  }

.menu-categories{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-top: 40px;
  select{
    width: 155px;
    height: 35px;
    font-size: 17px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 20px;
    left: -47px;
    border-radius: 10px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .menu {
    ul {
      display: flex;

      li {
        list-style: none;
        display: flex;
        margin-left: 40px;
      }

      &.dropdown-content {
        display: none;
      }
    }
  }
}

}

.sign-up, .login {
  .container {
    justify-content: center;
    display: flex;

    .sign-up-container {
      margin-top: 15px;

      .sign_up {
        font-size: 25px;
        font-weight: 600;
      }

      .input-block {
        display: flex;
        flex-direction: column;
      }

      .button-block {
        margin-top: 10px;
      }

      .login-link-block {
        display: flex;
        justify-content: space-between;

        p {
          color: #2877EE;
          font-weight: 700;
        }
      }
    }

  }
}
